[common]
# Unset STRICT_DEVMEM according to Broadcom's requirement and for CENTEC arm64 arch
CONFIG_STRICT_DEVMEM
# Unset classid and priority network cgroups due to conflict between cgroups v1 and v2
CONFIG_CGROUP_NET_CLASSID
CONFIG_NET_CLS_CGROUP
CONFIG_NETFILTER_XT_MATCH_CGROUP
CONFIG_CGROUP_NET_PRIO
# Unset to enable UBIFS on flash
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS
###-> mellanox_common-start
###-> mellanox_common-end
CONFIG_DRM
CONFIG_VIDEO_DEV
CONFIG_MEDIA_SUPPORT
CONFIG_MEDIA_CONTROLLER
CONFIG_DVB_CORE
CONFIG_MEDIA_TUNER
CONFIG_MEDIA_ATTACH

[amd64]
CONFIG_AMD_MEM_ENCRYPT
# Unset X86_PAT according to Broadcom's requirement
CONFIG_X86_PAT
CONFIG_MLXSW_PCI
###-> mellanox_amd64-start
###-> mellanox_amd64-end

[arm64]
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU

[marvell-prestera-arm64]
CONFIG_UBIFS_FS_ZSTD
CONFIG_CRYPTO_DEV_SAFEXCEL

[pensando]
CONFIG_ARM64_VA_BITS_48

[armhf]

[marvell-prestera-armhf]
CONFIG_ARCH_VIRT
CONFIG_ARCH_BCM
CONFIG_ARCH_EXYNOS
CONFIG_ARCH_HIGHBANK
CONFIG_ARCH_MXC
CONFIG_ARCH_MESON
CONFIG_ARCH_OMAP3
CONFIG_ARCH_OMAP4
CONFIG_SOC_OMAP5
CONFIG_SOC_AM33XX
CONFIG_SOC_DRA7XX
CONFIG_ARCH_ROCKCHIP
CONFIG_ARCH_SOCFPGA
CONFIG_ARCH_SUNXI
CONFIG_ARCH_TEGRA
CONFIG_ARCH_VEXPRESS
CONFIG_ARCH_WM8850
CONFIG_FW_CFG_SYSFS
CONFIG_VORTEX
CONFIG_NTP_PPS
CONFIG_SENSORS_MAX6620
CONFIG_SND_LX6464ES
CONFIG_EFI
CONFIG_LOCK_DOWN_KERNEL
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SYSTEM_BLACKLIST_KEYRING

[mellanox-arm64]

