[common]
# Unset STRICT_DEVMEM according to Broadcom's requirement and for CENTEC arm64 arch
CONFIG_STRICT_DEVMEM

[amd64]
# Unset X86_PAT according to Broadcom's requirement
CONFIG_X86_PAT
CONFIG_MLXSW_PCI

[arm64]

[armhf]

[marvell-armhf]
CONFIG_ARCH_VIRT
CONFIG_ARCH_BCM
CONFIG_ARCH_EXYNOS
CONFIG_ARCH_HIGHBANK
CONFIG_ARCH_MXC
CONFIG_ARCH_MESON
CONFIG_ARCH_OMAP3
CONFIG_ARCH_OMAP4
CONFIG_SOC_OMAP5
CONFIG_SOC_AM33XX
CONFIG_SOC_DRA7XX
CONFIG_ARCH_ROCKCHIP
CONFIG_ARCH_SOCFPGA
CONFIG_ARCH_SUNXI
CONFIG_ARCH_TEGRA
CONFIG_ARCH_VEXPRESS
CONFIG_ARCH_WM8850
CONFIG_FW_CFG_SYSFS
CONFIG_VORTEX
CONFIG_NTP_PPS
CONFIG_SENSORS_MAX6620
CONFIG_SND_LX6464ES
CONFIG_EFI
CONFIG_LOCK_DOWN_KERNEL
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SYSTEM_BLACKLIST_KEYRING
